<section class="mx-lg-0 my-3 b-4 b-shadow">
  <div
    class="bg-white d-flex justify-content-evenly  p-1 gap-1"
  >
    <div
      class="col-2 d-flex align-items-center justify-content-center contact-us"
    >
      <button>
        <i class="bi bi-telephone-fill"></i>
      </button>
    </div>
    <div aria-label="اضافة الي سلة التسوق" class="col-9 add-to-cart">
      <button class="main-btn">اضافة لسلة التسوق</button>
      <i class="bi bi-cart-plus f-1"></i>
    </div>
  </div>
</section>
