<div>
  <section class="header und-line col-12">
    <h6 class="m-0 p-3">نظرة عامة نحو الحساب</h6>
  </section>
  <section aria-label="التقييمات الخاصة بالعميل"></section>

  <section
    class="not-reviews-found d-flex gap-4 flex-column align-items-center py-4 px-2"
    aria-label="لا يوجد تقييمات متاحة"
  >
    <img src="/assets/images/ubdate/user/review.e9fae2f3.svg" alt="" />
    <h6 class="f-15">لقد قمت بتقييم جميع منتجاتك</h6>
    <p class="">
      يمكنك تقييم المنتج بعد استلامه، وسوف يتم عرض رأيك علي الصفحة وذلك لمنح
      مستخدمي جوميا أفضل تجربة تسوق.
    </p>
    <div class="main-btn" [routerLink]="['/public/home']">
      <a href="" class="text-white">متابعة التسوق</a>
    </div>
  </section>
</div>
