<div class="sec-container b-4">
  <section class="sec-1 d-flex align-items-center sec-header">
    <h5 class="m-auto">اسعار مناسبة لكل احتياجاتك</h5>
  </section>
  <section class="d-flex sec-2 p-all-10 gap-1 m-auto justify-center">
    <a href="" class="col b-4" appCardHover>
      <img
        src="/assets/images/ubdate/banners/best-price/sm1.jpg"
        alt=""
        class="box-1"
      />
    </a>
    <a href="" class="col b-4" appCardHover>
      <img
        src="/assets/images/ubdate/banners/best-price/sm-2.jpg"
        alt=""
        class="box-2"
      />
    </a>
  </section>
</div>

<div class="sec-container b-4 m-10"> 
  <section class="d-flex sec-2 p-all-10 gap-1 m-auto justify-center">
    <a href="" class="col-4 b-4" appCardHover>
      <img
        src="/assets/images/ubdate/banners/best-price/sec-2/1.jpg"
        alt=""
        class="box-3"
      />
    </a>
    <a href="" class="col-4 b-4" appCardHover>
      <img
        src="/assets/images/ubdate/banners/best-price/sec-2/2.jpg"
        alt=""
        class="box-4"
      />
    </a>
    <a href="" class="col-4 b-4" appCardHover>
      <img
        src="/assets/images/ubdate/banners/best-price/sec-2/3.jpg"
        alt=""
        class="box-5"
      />
    </a>
  </section>
</div>
