<div class="text-center my-3 sec-container">
  <section class="row gx-3 gy-3 justify-content-center sec">
    <div class="col-6 col-md-4 col-lg-2 text-center" appCardHover>
      <a href="#" class="d-block">
        <img
          class="img-fluid mb-2"
          src="/assets/images/ubdate/banners/offers-banner/clearancar.png"
          alt=""
        />
        <span>تصفيات</span>
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-2 text-center" appCardHover>
      <a href="#" class="d-block">
        <img
          class="img-fluid mb-2"
          src="/assets/images/ubdate/banners/offers-banner/freelink-ar.gif"
          alt=""
        />
        <span>الكريسماس</span>
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-2 text-center" appCardHover>
      <a href="#" class="d-block">
        <img
          class="img-fluid mb-2"
          src="/assets/images/ubdate/banners/offers-banner/fashionarb.png"
          alt=""
        />
        <span>ازياء</span>
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-2 text-center" appCardHover>
      <a href="#" class="d-block">
        <img
          class="img-fluid mb-2"
          src="/assets/images/ubdate/banners/offers-banner/home2.png"
          alt=""
        />
        <span>المنزل والاثاث</span>
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-2 text-center" appCardHover>
      <a href="#" class="d-block">
        <img
          class="img-fluid mb-2"
          src="/assets/images/ubdate/banners/offers-banner/phones2.png"
          alt=""
        />
        <span>موبايلات وأكسسوارات </span>
      </a>
    </div>

    <div class="col-6 col-md-4 col-lg-2 text-center" appCardHover>
      <a href="#" class="d-block">
        <img
          class="img-fluid mb-2"
          src="/assets/images/ubdate/banners/offers-banner/beauty2.png"
          alt=""
        />
        <span>منتجات الجمال</span>
      </a>
    </div>
  </section>
</div>
