<div>
  <section aria-label="قسائم الشراء الخاصة بالعميل"></section>

  <section
    class="not-order-found d-flex gap-4 flex-column align-items-center py-2  "
    aria-label="لا يوجد قسائم شراء"
  >
    <img src="/assets/images/ubdate/user/voucher.de9d55af.svg" alt="" />
    <h6 class="f-15">لا يتوفر رصيد جوميا</h6>
    <p class="">يتم عرض كل قسائم الشراء المتاحة هنا</p>
    <div class="main-btn" [routerLink]="['/public/home']">
      <a href="" class="text-white">متابعة التسوق</a>
    </div>
  </section>
</div>
