<div class="inpox-cnt d-flex flex-column justify-content-between">
  <section class="sec-1 px-2">
    <div class="sec-box">
      <a href="" class="d-flex align-items-center">
        <span class="d-block align-items-center">
          <h6>اشتغل استشاري مبيعات</h6>
          <p>علي جوميا</p>
        </span>
        <img  src="/assets/images/jumia-icon.png" alt="" />
      </a>
    </div>
    <div class="sec-box">
      <a href="" class="d-flex align-items-center">
        <span class="d-block align-items-center">
          <h6>بيع علي جوميا</h6>
          <p>وذود مبيعاتك</p>
        </span>
        <img  src="/assets/images/buy-icon.png" alt="" />
      </a>
    </div>
    <div class="sec-box align-items-center">
      <a href="" class="d-flex align-items-center">
        <span class="d-block">
          <h6>ضمان</h6>
          <p>علي مشترياتك</p>
        </span>
        <img  src="/assets/images/4.png" alt="" />
      </a>
    </div>
  </section>
  <section class="sec-2">
  </section>
</div>
