<div class="side-container b-4">
  <section class="und-line" aria-label="الادوات الخاصة بالمستخدم">
    <a
      href=""
      class="Account-item col-12 d-flex py-3 px-3 gap-2"
      [routerLink]="['/user/account']"
      routerLinkActive="router-active"
    >
      <i class="bi bi-person"></i>
      <p>حسابي علي جوميا</p>
    </a>
    <div class="Account-items col-12">
      <a
        class="Account-item col-12 d-flex aliign-items-center py-3 gap-2 px-3"
        href=""
        [routerLink]="['/user/order']"
        routerLinkActive="router-active"
      >
        <i class="bi bi-box2"></i>
        <p>الطلبات</p>
      </a>

      <a
        class="Account-item col-12 d-flex aliign-items-center py-3 gap-2 px-3"
        href=""
        [routerLink]="['/user/message']"
        routerLinkActive="router-active"
      >
        <i class="bi bi-envelope"></i>
        <p>صندوق الرسائل الواردة</p>
      </a>

      <a
        class="Account-item col-12 d-flex aliign-items-center py-3 gap-2 px-3"
        href=""
        [routerLink]="['/user/reviews']"
        routerLinkActive="router-active"
      >
        <i class="bi bi-chat-left-text"></i>
        <p>التقييمات والتعليقات</p>
      </a>

      <a
        class="Account-item col-12 d-flex aliign-items-center py-3 gap-2 px-3"
        href=""
        [routerLink]="['/user/vouchers']"
        routerLinkActive="router-active"
      >
        <i class="bi bi-ticket-perforated"></i>
        <p>قسائم الشراء</p>
      </a>

      <a
        class="Account-item col-12 d-flex aliign-items-center py-3 gap-2 px-3"
        href=""
        [routerLink]="['/user/wishList']"
        routerLinkActive="router-active"
      >
        <i class="bi bi-heart"></i>
        <p>المنتجات المحفوظة</p>
      </a>
    </div>
  </section>

  <section class="und-line" aria-label="الادوات الخاصة بالمستخدم">
    <div class="Account-item col-12 d-flex py-2 px-3 gap-2">
      <p>اعدادات الحساب</p>
    </div>
    <div class="Account-items col-12">
      <a class="Account-item d-flex py-2 px-3" href="">
        <p>ادارة الحساب</p>
      </a>

      <a class="Account-item d-flex py-2 px-3" href="">
        <p>تفضيلات النشرة الاخبارية</p>
      </a>

      <a class="Account-item d-flex py-2 px-3" href="">
        <p>جهات الاتصال</p>
      </a>

      <a class="Account-item d-flex py-2 px-3" href="">
        <p>غلق الحساب</p>
      </a>
    </div>
  </section>
  <section
    class="log-Out Account-item text-center py-2"
    aria-label="الادوات الخاصة بالمستخدم"
  >
    تسجيل الخروج
  </section>
</div>
