<div class="my-2 b-4">
  <span
    class="d-flex text-center align-items-center justify-content-between sec-head"
  >
    <h5 class="m-auto text-black">اكتشف عروض متتفوتش</h5>
  </span>
  <div class="d-flex ofer-sec">
    <section class="col-4" appCardHover>
      <a href="/offer1">
        <img
          src="/assets/images/ubdate/banners/descovre-offers/400x200ar-1.gif"
          alt="Offer 1"
          loading="lazy"
          class="sec-1 b-4"
        />
      </a>
    </section>
    <section class="col-4" appCardHover>
      <a href="/offer2 b-4">
        <img
          src="/assets/images/ubdate/banners/descovre-offers/400x200-2.png"
          alt="Offer 2"
          loading="lazy"
          class="sec-2 b-4"
        />
      </a>
    </section>
    <section class="col-4" appCardHover>
      <a href="/offer2">
        <img
          src="/assets/images/ubdate/banners/descovre-offers/400x200ar-3.png"
          alt="Offer 2"
          loading="lazy"
          class="sec-3 b-4"
        />
      </a>
    </section>
  </div>
</div>

<section class="col-12 my-1 d-flex align-items-center b-4" appCardHover>
  <a href="/offer3" class="d-flex">
    <img
      src="/assets/images/ubdate/banners/descovre-offers/1200x200AR.png"
      alt="Offer 3"
      loading="lazy"
      class="sec-4 b-4"
    />
  </a>
</section>
