<section class="cnt py-1 d-flex justify-content-between">
  <a
    href=""
    aria-label="بيع مع جوميا"
    class="d-flex align-items-center gap-1 item"
  >
    <img
      style="height: 15px"
      src="/assets/images/ubdate/icons/logo.png"
      alt=""
    />
    <p class="f-10">بيع علي جوميا</p>
  </a>

  <div aria-label="جوميا باي" class="d-flex align-items-center gap-3">
    <img src="/assets/images/JumiaLogo.png" alt="" class="pay-logo" />
    <a href="" class="d-flex gap-2 align-items-center pay-item">
      <p class="">PAY</p>
      <i class="bi bi-shield-shaded"></i>
    </a>
  </div>

  <div aria-label="اللغة" class="d-flex align-items-center gap-2 lang-item">
    <span class="d-flex gap-2 align-items-center">
      <img
        src="/assets/images/ubdate/icons/uk-logo.png"
        alt=""
        class="lang-logo"
      />
      <p class="d-flex">English</p>
    </span>

    <span class="d-flex gap-2 align-items-center">
      <img
        src="/assets/images/ubdate/icons/egypt-flag-icon.jpg"
        alt=""
        class="lang-logo"
      />
      <p class="d-flex">عربي</p>
    </span>
  </div>
</section>
