<section style="margin-top: 50px" class="foot-sm">
  <div class="sm-1 text-white d-flex flex-column align-items-center p-2">
    <i class="bi bi-chevron-up f-10"></i>
    <p class="f-10">العودة لأعلي الصفحة</p>
  </div>
  <div
    class="sm-2 text-white d-flex justify-center gap-2 align-items-center p-2"
  >
    <img
      style="height: 25px; border-radius: 50%"
      src="/assets/images/ubdate/icons/egypt-flag-icon.jpg"
      alt=""
    />
    <p class="f-10">عربي</p>
  </div>
  <div
    class="sm-3 text-white d-flex justify-center gap-2 align-items-center p-2"
  >
    <ul class="d-flex gap-3 f-10 text-white">
      <li><a href="">تواصل معنا</a></li>
      <li><a href="">اتصل بنا</a></li>
      <li><a href="">الشروط والاحكام</a></li>
      <li><a href="">بيع علي جوميا</a></li>
      <li><a href="">الابلاغ عن منتج</a></li>
    </ul>
  </div>
  <div
    class="sm-3 sec-4 text-white d-flex justify-center gap-2 align-items-center p-2"
  >
    <ul class="d-flex gap-3 f-10 text-white">
      <li><a href="">سياسة تسوية المنازعات</a></li>
      <li><a href="">سياسة الاستبدال والاسترجاع</a></li>
    </ul>
  </div>
  <div
    class="sm-3 text-white d-flex justify-center gap-2 align-items-center p-2"
  >
    <ul class="d-flex gap-3 f-10 text-white">
      <li><a href="">جميع الحقوق محفوظة</a></li>
      <li><a href="">Created By Abdallah Marzouk</a></li>
    </ul>
  </div>
</section>

<section class="foot-lg1 text-white py-3">
  <div class="cnt foot-cnt">
    <section class="sec-1 d-flex">
      <div class="col-3">
        <img
          style="height: 25px"
          src="/assets/images/ubdate/icons/jumia-logo-white.png"
          alt=""
        />
      </div>
      <div class="col-6 d-flex flex-column box">
        <div>
          <p class="f-10">هل انت جديد علي جوميا؟</p>
          <span class="font-10"
            >اشترك في نشرتنا الاخبارية للحصول علي اجدد العروض</span
          >
        </div>
        <div class="foot-foorm">
          <form action="" method="post" class="py-2 d-flex align-items-center">
            <input type="text" placeholder="ادخل بريدك الالكتروني" />
            <i class="bi bi-envelope-fill"></i>
            <button class="gander" value="male">زكر</button>
            <button class="gander" value="female">انثي</button>
          </form>
          <div class="d-flex gap-2 my-2 align-items-start">
            <input type="checkbox" name="legal" id="checkbox" />
            <label for="checkbox"
              >أوافق على سياسة الخصوصية وملفات تعريف الارتباط لدى جوميا، وأعلم
              أنني يمكنني إلغاء الاشتراك في الرسائل الإخبارية في أي وقت.
              <a href="">اوافق علي الشروط القانونية</a></label
            >
          </div>
        </div>
      </div>
      <div class="col-3 gap-2">
        <div class="d-flex">
          <img
            style="height: 40px"
            class="b-4"
            src="/assets/images/ubdate/icons/jumia-icon-foot.webp"
            alt=""
          />
          <div class="d-flex flex-column px-2 gap-1">
            <p class="f-10">تنزيل تطبيق جوميا المجاني</p>
            <p class="font-10">احصل علي العديد من العروض الحصرية</p>
          </div>
        </div>
        <div class="gap-4 text-white d-flex justify-content-center dow-app">
          <a href=""
            ><i
              class="bi bi-apple text-white dow-app"
              style="font-size: 25px"
            ></i
          ></a>
          <a href=""
            ><i
              class="bi bi-google-play text-white dow-app"
              style="font-size: 25px"
            ></i
          ></a>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="foot-lg1 text-white py-3 sec-2">
  <div class="cnt"  id="sec-4">
    <!-- Sec-1 -->
    <div class="d-flex">
      <ul class="col-3 item gap-1">
        <th class="f-10">تحتاج مساعدة؟</th>
        <li><a href=""> تواصل معنا </a></li>
        <li><a href="">مركز المساعدة </a></li>
        <li><a href="">اتصل بنا </a></li>
        <li><a href="">روابط مفيدة: </a></li>
        <li><a href="">كيفية عمل طلب شراء </a></li>
        <li><a href="">طرق الدفع </a></li>
        <li><a href="">سياسة الشحن </a></li>
        <li><a href="">سياسة الاسترجاع </a></li>
        <li><a href="">سياسة الاسترداد </a></li>
        <li><a href="">إرشادات عن المعلومات الخاصة بالدفع </a></li>
      </ul>

      <ul class="col-3 item gap-1">
        <th class="font-10">من نحن</th>
        <li><a href=""> خدمات جوميا للشحن </a></li>
        <li><a href=""> انضم إلى جوميا </a></li>
        <li><a href=""> الشروط والأحكام </a></li>
        <li><a href=""> شروط و أحكام رصيد متجر جوميا </a></li>
        <li><a href=""> سياسة الخصوصية </a></li>
        <li><a href=""> سياسة ملفات تعريف الارتباط </a></li>
        <li><a href=""> توصيل مجاني </a></li>
        <li><a href=""> فلاش سيل </a></li>
        <li><a href=""> انضم الي اكاديمية مندوبين جوميا </a></li>
      </ul>

      <ul class="col-3 item gap-1">
        <th class="font-10">ذود مبيعاتك</th>
        <li><a href="">بيع علي جوميا</a></li>
        <li><a href="">قاعدة معرفة التاجر (Vendor hub) </a></li>
        <li><a href="">كن شريكًا للخدمات اللوجستية </a></li>
        <li><a href="">ابدا بزنس مع جوميا (J-Force ) </a></li>
      </ul>

      <ul class="col-3 item gap-1">
        <th class="font-10">جوميا دوليا</th>
        <div class="d-flex gap-4">
          <div>
            <li><a href="">الجزائر</a></li>
            <li><a href="">ساحل العاج</a></li>
            <li><a href="">غانا</a></li>
            <li><a href="">كينيا</a></li>
          </div>
          <div>
            <li><a href="">المغرب </a></li>
            <li><a href="">نيجيريا </a></li>
            <li><a href="">السنغال</a></li>
            <li><a href="">أوغندا</a></li>
          </div>
        </div>
      </ul>
    </div>
    <!-- sec-2 social media and payment-->
    <div class="d-flex gap-5">
      <section class="social gap-3">
        <p class="p-2">تابعونا علي</p>
        <div class="gap-2">
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-youtube"></i></a>
          <a href=""><i class="bi bi-tiktok"></i></a>
        </div>
      </section>
      <section class="social payment gap-3" aria-label="how-to-bay">
        <p class="p-2">طرق الدفع</p>
        <div class="gap-2">
          <a href=""><i class="bi bi-cash"></i></a>
          <a href=""><i class="bi bi-credit-card-fill"></i></a>
        </div>
      </section>
    </div>

    <div class="d-flex py-4">
      <ul class="col item gap-1">
        <li><a href="">Activ </a></li>
        <li><a href="">ADIDAS</a></li>
        <li><a href="">American Eagle</a></li>
        <li><a href="">Andora</a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href="">Apple</a></li>
        <li><a href="">Braun</a></li>
        <li><a href="">Casio</a></li>
        <li><a href="">Cottonil</a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href="">Defacto</a></li>
        <li><a href="">Dejavu</a></li>
        <li><a href="">Fresh</a></li>
        <li><a href="">Dice </a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href="">Garnier</a></li>
        <li><a href="">HP</a></li>
        <li><a href="">Izor</a></li>
        <li><a href="">Kady</a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href=""> L'Oreal Paris </a></li>
        <li><a href=""> LC Waikiki </a></li>
        <li><a href="">Lenovo</a></li>
        <li><a href=""> Maybelline New York </a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href="">Mesery</a></li>
        <li><a href="">Mothercare</a></li>
        <li><a href="">NIVEA</a></li>
        <li><a href="">Nokia</a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href="">OPPO</a></li>
        <li><a href="">Ravin</a></li>
        <li><a href="">Samsung</a></li>
        <li><a href="">SHEIN</a></li>
      </ul>

      <ul class="col item gap-1">
        <li><a href="">Sokany</a></li>
        <li><a href="">XIAOMI</a></li>
        <li><a href="">Tornado</a></li>
      </ul>
    </div>
  </div>
  <div class="cnt d-flex align-items-center justify-content-center py-2">
    <img style="height: 20px;" src="/assets/images/ubdate/icons/jumai-pay.png" alt="">
  </div>
</section>
