<section class=" py-1 d-flex align-items-rigth justify-content-between">
  <div aria-label="اللغة" class="d-flex align-items-center gap-2 lang-item">
    <span class="d-flex gap-2 align-items-center">
      <img
        src="/assets/images/ubdate/icons/uk-logo.png"
        alt=""
        class="lang-logo"
      />
      <p class="d-flex">English</p>
    </span>

    <span class="d-flex gap-2 align-items-center">
      <img
        src="/assets/images/ubdate/icons/egypt-flag-icon.jpg"
        alt=""
        class="lang-logo"
      />
      <p class="d-flex">عربي</p>
    </span>
  </div>
</section>
