<div>
  <div class="b-black d-flex  h-50 align-items-center p-all-10  text-center">
    <h5 class="m-auto text-white">اجدد العروض</h5>
  </div>
  <div
    class="d-flex align-items-center justify-content-center bg-white p-all-10"
  >
    <section class="col-6 d-flex align-items-center justify-content-center gap-1 b-4">
      <a href="">
        <img
          src="/assets/images/home-banners/find-offers/latest/DB600X200AR-lg-2.gif"
          alt=""
          class="b-4 w-100 sec-1"
        />
      </a>
    </section>
    <section class="col-6 d-flex align-items-center justify-content-center b-4">
      <a href="">
        <img
          src="/assets/images/home-banners/find-offers/latest/600x200-lg-1.png"
          alt=""
          class="b-4 w-100 sec-2"
        />
      </a>
    </section>
  </div>
</div>
