<div>
  <section aria-label="الطلبات الخاصة بالعميل"></section>

  <section
    class="not-order-found d-flex gap-4 flex-column align-items-center py-2"
    aria-label="لا يوجد طلبات"
  >
    <img src="/assets/images/ubdate/user/order.svg" alt="" />
    <h6 class="f-15">لا توجد طلبات مغلقه للعرض</h6>
    <p class="">سيتم حفظ جميع طلباتك التى تم استكمالها هنا.</p>
    <div class="main-btn" [routerLink]="[ '/public/home' ]">
      <a href="" class="text-white">بدء التسوق</a>
    </div>
  </section>

</div>
