<div>
  <div
    class="b-black d-flex h-50 align-items-center p-all-10 text-center sec-hader"
  >
    <h5 class="m-auto text-black">اكتشف اكتر</h5>
  </div>
  <div class="d-flex bg-white flex-wrap align-items-center justify-center">
    <a href="" class="col d-flex" >
      <img
        src="/assets/images/ubdate/banners/find-more/2lg.png"
        alt=""
        class="w-100 b-10 p-all-5 sec-2"
        
      />
    </a>

    <a href="" class="col d-flex" >
      <img
        src="/assets/images/ubdate/banners/find-more/1lg.png"
        alt=""
        class="w-100 b-10 p-all-5 sec-1"
        
      />
    </a>
  </div>
</div>
