<div class="delivery-info">
  <!-- العنوان -->
  <section class="py-2 und-line delivery-return">
    <p class="p head px-2">التوصيل والإرجاع</p>
  </section>

  <!-- تفاصيل التوصيل -->
  <div class="bg-white">
    <section class="und-line py-2">
      <div class="d-flex flex-column gap-2 align-items-start px-2">
        <img
          class="express-img"
          src="/assets/images/ubdate/icons/jumia-express.png"
          alt="jumia-express"
        />
        <div class="d-flex gap-1 f-10">
          <p class="mb-0">توصيل سريع في المدن الرئيسية</p>
          <a href="#" class="text-primary">التفاصيل</a>
        </div>
      </div>
    </section>
    <section>
      <div class="px-2">
        <h6 class="location-head py-2 p">اختار العنوان</h6>
        <div class="d-flex flex-column gap-3">
          <select class="location b-4">
            <option value="">الجيزة</option>
          </select>
          <select class="location b-4">
            <option value="">الجيزة</option>
          </select>
        </div>
        <div class="py-3" aria-label="data-location">
          <div class="opt-item d-flex gap-2 justify-content-evenly align-items-center">
            <span
              class="col-2 d-flex align-items-center justify-content-center b-4"
            >
              <i class="bi bi-truck-flatbed"></i>
            </span>
            <div class="col-9">
              <div class="d-flex align-items-center justify-content-between">
                <p class="f-15">محطة الاستلام</p>
                <a href="" class="font-10 anc">التفاصيل</a>
              </div>
              <div>
                <p class="f-10 text-success">free delivery</p>
                <p class="f-10">
                  جاهز للاستلام في يوم ٢١ ديسمبر إذا أكملت طلبك خلال ‎16hrs
                  59mins‎
                </p>
              </div>
            </div>
          </div>

          <div class="opt-item d-flex justify-content-evenly align-items-center gap-2 und-line">
            <span
              class="col-2 d-flex align-items-center justify-content-center b-4"
            >
              <i class="bi bi-truck"></i>
            </span>
            <div class="col-9">
              <div class="d-flex align-items-center justify-content-between">
                <p class="f-15">توصيل للمنزل</p>
                <a href="" class="font-10 anc">التفاصيل</a>
              </div>
              <div>
                <p class="f-10 text-success">free delivery</p>
                <p class="f-10">
                  جاهز للاستلام في يوم ٢١ ديسمبر إذا أكملت طلبك خلال ‎16hrs
                  59mins‎
                </p>
              </div>
            </div>
          </div>

          <div class="opt-item d-flex justify-content-evenly align-items-center gap-2 py-1 und-line">
            <span
              class="col-2 d-flex align-items-center justify-content-center b-4"
            >
              <i class="bi bi-shop"></i>
            </span>
            <div class="col-9">
              <div class="d-flex align-items-center justify-content-between">
                <p class="f-15">سياسية الاسترجاع</p>
              </div>
              <p class="f-10">
                يمكنك ارجاع اغلب المنتجات خلال 14-30 يوم من تاريخ الشراء، مع
                ضرورة الإبلاغ عن وجود اي عيب ظاهر في خلال 48 ساعة، للإستثناءات
                والشروط راجع سياسة الإرجاع من هنا<a
                  href=""
                  class="px-1 font-10 anc"
                  >التفاصيل</a
                >
              </p>
            </div>
          </div>

          <div class="opt-item d-flex justify-content-evenly align-items-center gap-2 py-1">
            <span
              class="col-2 d-flex align-items-center justify-content-center b-4"
            >
              <i class="bi bi-shield-check"></i>
            </span>
            <div class="col-9">
              <div class="d-flex align-items-center justify-content-between">
                <p class="f-15">الضمان</p>
              </div>
              <p class="f-10">1 Year Manufacturer Warranty</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
