<div class="filter-container" aria-label="قائمة الفلاتر">
  <!-- تكرار الفئات الرئيسية -->
  <ng-container *ngFor="let cat of category ; let i = index">
    <section class="und-line">
      <div class="header d-flex flex-column gap-1">
        <p class="cat-header p-3 py-2 b pb-0">الفئة</p>
        <!-- عنوان الفئة -->
        <a class="cat-title cat py-1  px-3" href="">{{ cat.name }}</a>

        <!-- قائمة الفئات الفرعية -->
        <div class="cat-menue d-flex flex-column gap-1">
          <ng-container *ngFor="let entry of cat.subCat">
            <a class="px-4 py-1 cat f-15" >{{ entry}} </a>
          </ng-container>
        </div>
      </div>
    </section>

    <!-- فلترة بحسب الماركة -->
    <section class="und-line" aria-label="فلترة بحسب الماركة">
      <div class="warpaper d-flex flex-column p-3 gap-3">
        <div class="header d-flex flex-column">
          <p class="cat-header">الماركة</p>
        </div>
        <ng-container *ngFor="let mat of cat.material">
          <div class="gap-3" aria-label="انواع الماركات">
            <div class="d-flex align-items-center">
              <input class="checkbox" type="checkbox" [id]="mat" [name]="mat"  />
              <label class="px-2 f-1" [for]="mat">{{ mat }}</label>
            </div>
          </div>
        </ng-container>
      </div>
    </section>

    <!-- فلترة بحسب اللون -->
    <section class="und-line" aria-label="فلترة بحسب اللون">
      <div class="warpaper d-flex flex-column p-3 gap-3">
        <div class="header d-flex flex-column">
          <p class="cat-header">اللون</p>
        </div>
        <ng-container *ngFor="let color of cat.color">
          <div class="gap-3" aria-label="انواع الألوان">
            <div class="d-flex align-items-center">
              <input type="checkbox" [id]="color" [name]="color"  />
              <label class="px-2 f-1" [for]="color">{{ color }}</label>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </ng-container>
</div>
